**/node_modules
**/venv
**/.venv
**/__pycache__
**/*.pyc

**/dist
**/build
**/.next
**/.out

.git
.gitignore
.dockerignore
.vscode
.idea
*.md

**/.env
**/.env.local

engine-cpp/build/*
!engine-cpp/build/.gitkeep